# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Material Design symbols
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
**/android/**/generated/
*.keystore
*.jks

# macOS related
/macos/Flutter/Generated.xcconfig
/macos/Flutter/ephemeral/
/macos/Runner/GeneratedPluginRegistrant.*

# Linux/Windows related
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/

# Secrets & Environment
.env
.env.*
!.env.example

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
